@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>This page talk a bit about us, how us we start and whichs are the future projects.</p>
<div>
    <div class="col-md-4"></div>
        <div class="col-md-4">E-mail: pedro_pdantas@hotmail.com</div>
    <div class="col-md-4"></div>
</div>

